.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.navigationbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigationLink{
  display: flex;
 
}

.navigationLink> li{
  list-style-type: none;
  margin-right: 5rem;
  font-size: 1.9rem;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  
}

.navigationLink >li > a{
  text-decoration: none;
  color: black;

}

.logo{
  
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
  
}

#heroSection{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.heroTagLine{
  width:50%;
 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons{
  display: flex;
  gap: 2rem;
  font-family: "Inter", sans-serif;
  
}

.signIn{
  font-size: 2rem;
  text-decoration: none;
  padding: 2rem 3rem;
  background-color: black;
  color: white;
  border-radius: 1rem;
}

.signOut{
  font-size: 2rem;
  text-decoration: none;
  padding: 2rem 3rem;
  background-color: #EBB883;
  color: white;
  border-radius: 1rem;
}

.image{
  width:40rem;
  overflow: hidden;
  border-radius: 1rem;
  margin-right: 4rem;
}

.image> img{
  position: relative;
  right:50%
}

